.Introduction__Content {
  background: var(--color-main);
  border-radius: var(--border-radius);
  color: var(--color-light);
  padding: 90px var(--gap) 16px var(--gap);
  font-family: var(--font-family-heading);
  font-size: var(--font-size--lead);
  position: relative;
  margin-bottom: var(--spacing);

  & h1 {
    color: var(--color-light);
  }
  & strong {
    color: var(--color-secondary);
  }

  & a {
    color: var(--color-secondary);
  }
}

.Introduction__Image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 9999em;
  width: 150px;
  border: solid 8px var(--color-light);
}

@media (--mq-landscape-tablet-and-up) {
  .Introduction {
    display: grid;
    column-gap: var(--gap);
    grid-template-columns: repeat(12, 1fr);
  }
  .Introduction__Content {
    grid-column: 2 / span 10;
  }
}

.Services {
  margin-bottom: var(--spacing);
}

@media (--mq-tablet-and-up) {
  .Services__Grid {
    display: grid;
    column-gap: var(--gap);
    grid-template-columns: repeat(12, 1fr);
  }
  .Services__Title {
    grid-column: 1 / span 12;
  }
  .Services__Text {
    grid-column: 1 / span 6;
  }
  .Services__List {
    grid-column: 7 / span 6;
  }
}

@media (--mq-landscape-tablet-and-up) {
  .Services__Title {
    grid-column: 2 / span 10;
  }
  .Services__Text {
    grid-column: 2 / span 4;
  }
  .Services__List {
    grid-column: 7 / span 5;
  }
}

.Projects {
  text-align: center;
  margin-bottom: var(--spacing);
}

.Logo__List {
  list-style-type: none;
  padding: 0;
  margin: 0 0 var(--spacing) 0;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
}

.Logo__Item {
  padding: 0;
  margin: 0;
  flex: 0 0 50%;
  padding: 0 calc(var(--gap));
  margin-bottom: var(--gap);
  & svg {
    width: 100%;
    height: auto;
    max-width: 180px;
  }
}

@media (--mq-tablet-and-up) {
  .Logo__Item {
    flex: 0 0 33.3%;
  }
}

@media (--mq-lap-and-up) {
  .Logo__Item {
    flex: 0 0 25%;
  }
}
