.PreFooter {
  background-color: var(--palette-hover);
  padding: var(--Spacings-x8) 0;
}

footer {
  background-color: var(--palette-dark);
  color: var(--palette-light);
  padding: var(--Spacings-x8) 0;

  a {
    color: var(--palette-hover);
    &:hover {
      color: var(--palette-action);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: var(--palette-light);
  }
}

.SocialNav {
  display: flex;
  justify-content: flex-start;
  gap: var(--Spacings-x4);

  & a {
    display: block;
    & svg {
      width: 40px;
      height: 40px;
    }
  }
}

.Footer__Social p {
  font-size: var(--Typography-S);
}

.Footer__Navs {
  display: flex;
  flex-direction: column;
  gap: var(--Spacings-x8);
  padding-bottom: var(--Spacings-x16);
}

.FooterNav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Footer__Details {
  text-align: center;
}

.Footer__DetailsContent {
  font-size: var(--Typography-XXS);
}

@media (--mq-tablet-and-up) {
  .Footer__Navs {
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    gap: var(--Spacings-x16);
  }

  .Footer__Nav {
    flex: 0 0 200px;
  }

  .Footer__Details {
    text-align: left;
    display: flex;
    justify-content: space-between;

    p {
      padding-top: 0;
      margin-top: 0;
    }
  }
}
