/* Footer */
.Footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: var(--spacing) 0;
  & h2 {
    color: var(--light);
  }
  & a {
    color: var(--white);
    font-weight: 400;
    &:hover {
      color: var(--secondary);
    }
    &::after {
      display: none;
    }
  }
}

.Footer a {
  color: var(--color-secondary);
  text-decoration: none;
  &:hover {
    color: var(--color-light);
    text-decoration: none;
  }
}

.Footer h2 {
}

/* Footer Logos */
.Footer__Logos {
  display: block;
  padding: 20px 0 40px 0;
  a {
    display: block;
    & img {
      width: 100%;
      max-width: 160px;
      height: auto;
      display: block;
    }
  }
}

/* Footer Nav */

.FooterNav {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.FooterNav__Item {
  display: inline-block;
  font-family: var(--font-heading);
  font-size: 20px;
  font-weight: 400;

  margin-left: 0;
  margin-bottom: 10px;
}

.Footer__Details {
  margin-top: 24px;
  padding-top: 24px;
  border-top: solid 1px var(--color-main);
  align-items: center;
  text-align: center;
}

.Footer__Colophon {
  font-size: 14px;
}

@media (--mq-tablet-and-up) {
  .Footer__Details,
  .Footer__Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    gap: var(--gap);
  }

  .Footer__Social,
  .Footer__Logos,
  .Footer__Nav {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    padding: 0;
  }

  .FooterNav {
    align-items: flex-end;
  }

  .Footer__Nav {
    text-align: right;
  }
}

@media (--mq-landscape-tablet-and-up) {
  .Footer__Social {
    max-width: 30%;
  }
}

/* Social Nav */
.SocialNav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.SocialNav a {
  flex: 0 0 var(--gap);
  display: block;
  margin-right: 16px;
}

.SocialNav a svg {
  width: var(--gap);
  height: var(--gap);
  display: block;
}
