/* Text */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-style: normal;
  font-weight: 400;
  margin: 0;
  text-wrap: balance;
  text-wrap: pretty;
  color: var(--palette-mid);
  font-family: var(--font-family-heading);
  & b,
  & strong {
    font-weight: 700;
  }
}

h1,
.h1 {
  font-size: var(--Typography-XXL);
}
h2,
.h2 {
  font-size: var(--Typography-XL);
}
h3,
.h3 {
  font-size: var(--Typography-L);
}
h4,
.h4 {
  font-size: var(--Typography-M);
}
h5,
.h5 {
  font-size: var(--Typography-S);
}
h6,
.h6 {
  font-size: var(--Typography-XS);
}

.intro {
  font-weight: 500;
}

.p-l,
.intro--large {
  font-size: var(--Typography-XL);
  font-weight: 500;
}
.p-m {
  font-size: var(--Typography-M);
}
.p-s,
small {
  font-size: var(--Typography-S);
}
.p-xs {
  font-size: var(--Typography-XS);
}

.strikethough,
s {
  text-decoration: line-through;
}

/* Pills */
.Pill {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--Spacings-x3);
  background-color: rgba(237, 237, 237, 2.5);
  color: var(--palette-dark);
  text-decoration: none;
  white-space: nowrap;
  appearance: none;
  border: 0;
  line-height: 0;
  transition: all var(--global-transition);
  gap: 10px;
  font-size: var(--Typography-XXXS);
  font-style: normal;
  font-weight: 500;
  border-radius: 999em;
  text-align: center;
  min-width: 54px;
  min-height: 27px;
  text-box: trim-both cap alphabetic;
  @media (--mq-netbook-and-up) {
    min-height: 30px;
  }
}

strong,
b {
  font-weight: 700;
}

/* Blockquote */
blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: var(--Spacings-x10);
  border-radius: var(--border-radius);
  background: var(--palette-hover);
  font-size: var(--Typography-XL);
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  & p {
    font-size: var(--Typography-XL);
    font-style: normal;
    font-weight: 500;
    line-height: 1.1;
    &:first-child {
      margin-top: 0;
    }
  }
  & cite {
    margin: 0;
    padding: 0;
    font-size: var(--Typography-M);
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
  }
}

/* UGC */
.ugc {
  line-height: 1.1;

  & > * {
    margin-block-start: 0;
  }
  & > * + * {
    margin-block-start: 0.6em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    line-height: 1.1;
  }

  & ul,
  & ol {
    margin-block-start: 1em;
  }

  & ul {
    list-style-type: disc;
  }

  & ol {
    list-style-type: decimal;
  }

  li {
    padding: 0 0 0 0;
    margin: 0;
  }

  ul,
  ol {
    & li + li {
      margin-block-start: 0.25em;
    }
  }
}

nav a {
  font-family: var(--font-family-heading);
  text-decoration: none;
}

::marker {
  color: var(--palette-hover);
}
