/* Global */
@import 'global/settings.css';
@import 'global/font.css';
@import 'global/body.css';
@import 'global/type.css';
@import 'global/images.css';
@import 'global/forms.css';
@import 'global/buttons.css';

/* Utilities */
@import 'utilities/a11y.css';
@import 'utilities/container.css';
@import 'utilities/mobile-desktop.css';
@import 'utilities/grid.css';

/* Partials */
@import 'partials/header.css';
@import 'partials/footer.css';
@import 'partials/page-header.css';
@import 'partials/labels.css';
@import 'partials/content-wrapper.css';

/* Pages */
@import 'pages/home.css';
@import 'pages/portfolio.css';
@import 'pages/portfolio-single.css';
@import 'pages/about.css';
@import 'pages/contact.css';
@import 'pages/centered.css';

/* Vendor */
@import '../../../node_modules/dracula-prism/dist/css/dracula-prism.css';

/* Diff Highlighting */
.token.deleted {
  background-color: rgba(255, 85, 85, 50%);
}
.token.inserted {
  background-color: rgba(80, 250, 123, 20%);
}

/* Make the + and - characters unselectable for copy/paste */
.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
  -webkit-user-select: none;
  user-select: none;
}

/* Inline Code Blocks */
:not(pre) > code {
  background: var(--background);
  padding: 4px 7px;
  border-radius: 0.3em;
  white-space: normal;
  color: var(--foreground);
  text-shadow: none;
  font-family: PT Mono, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  -moz-hyphens: none;
  hyphens: none;
}
