.Container {
  container-type: inline-size;
  width: calc(100% - var(--page-padding) - var(--page-padding));
  margin-left: var(--page-padding);
  margin-right: var(--page-padding);
  position: relative;
  z-index: 2;
  @media (--mq-netbook-and-up) {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
  }
}

/* Thin */
.Container--thin {
  @media (--mq-tablet-and-up) {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--thin-width);
  }
}
