.Container {
  width: calc(100% - var(--gap) - var(--gap));
  display: block;
  margin-left: var(--gap);
  margin-right: var(--gap);
  position: relative;

  @media (--mq-landscape-tablet-and-up) {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 1144px;
  }
}

.Container--narrow {
  @media (--mq-landscape-tablet-and-up) {
    max-width: 680px;
  }
}
